@import "src/scss";

:host,
.app {
  height: inherit;
}

.app__content {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.app__content-header {
  height: 5rem;
}

.app__content-inner {
  padding: 0 10%;
}

@include media-breakpoint-up(md) {
}
