<ul class="navigation">
  <li class="navigation__item">
    <a
      class="navigation__anchor"
      routerLink="/pages"
      routerLinkActive="navigation__anchor--active"
      >Pages</a
    >
  </li>
  <li class="navigation__item">
    <a
      class="navigation__anchor"
      routerLink="/media-library"
      routerLinkActive="navigation__anchor--active"
      >Media Library</a
    >
  </li>
  <li class="navigation__item">
    <a
      class="navigation__anchor"
      routerLink="/settings"
      routerLinkActive="navigation__anchor--active"
      >Settings</a
    >
  </li>
</ul>
